# Ignore Python virtual environment
venv/

# Ignore environment config
.env

# Ignore macOS system files
.DS_Store


__pycache__/
*.pyc

.clj-kondo/
.lsp/

db.sqlite3venv/ # Make sure venv is ignored
venv/
